@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  overflow-x: auto; /* Permitir scroll horizontal */
  overflow-y: hidden;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-top: 5vh; /* Ajustar el margen superior */
  color: #5781ab;
  font-family: 'Montserrat', sans-serif; /* Aplicar la fuente a todo el cuerpo */
}

.botones-funcionalidades {
  display: flex;
  justify-content: center; /* Centrar el botón */
  width: 175px;  
  height: 30px; 
  font-size: 10px;
  line-height: 1;
  border-radius: 4px; 
  color: #fff; 
  border: none; 
  cursor: pointer; 
  margin-top: 2rem;
  margin-left: 5vw;
}

form {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
  box-shadow: 2px 2px 2px #c4c4c4, -2px -2px 2px #ffffff;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem; 
  color: #424141; 
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 10px; 
  border-bottom: 2px solid #e0e0e0; 
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
}

.form-group mat-form-field {
  flex: 1 1 calc(25% - 16px);
}

.full-width {
  flex: 1 1 75%; 
}

.half-width {
  flex: 1 1 calc(25% - 16px); 
}

.wide-full {
  flex: 1 1 100%; 
}

.experience-salary-group {
  display: flex;
  gap: 16px;
  flex: 1 1 25%; 
}

button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.01);
}

.table-container {
  width: 90%; 
  margin: 1rem auto; 
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 2px 2px 2px #c4c4c4, -2px -2px 2px #ffffff;
}

table {
  width: 100%; 
  table-layout: fixed; 
}

th.mat-header-cell, 
td.mat-cell {
  padding: 4px; 
  text-align: center; 
}

th.mat-header-cell:nth-child(9),
td.mat-cell:nth-child(9), 
th.mat-header-cell:nth-child(10),
td.mat-cell:nth-child(10) { 
  width: 60px; 
}

td.mat-cell {
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis; 
}

@media (max-width: 768px) {
  th.mat-header-cell, 
  td.mat-cell {
    padding: 2px; 
  }

  th.mat-header-cell:nth-child(9),
  td.mat-cell:nth-child(9),
  th.mat-header-cell:nth-child(10),
  td.mat-cell:nth-child(10) {
    width: 50px; 
  }

  .title {
    font-size: 2.5em; /* Ajustar el tamaño de la fuente para pantallas más pequeñas */
    margin-top: 120px; /* Ajustar el margen superior */
  }

  .botones-funcionalidades {
    margin-top: 3rem; /* Ajustar el margen superior */
  }

  button {
    font-size: 0.9em; /* Ajustar el tamaño de la fuente del botón */
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2em; /* Ajustar el tamaño de la fuente para pantallas más pequeñas */
    margin-top: 140px; /* Ajustar el margen superior */
  }

  .botones-funcionalidades {
    margin-top: 4rem; /* Ajustar el margen superior */
  }

  button {
    font-size: 0.8em; /* Ajustar el tamaño de la fuente del botón */
  }
}

.header {
  display: flex;
  align-items: center;
  background-color: #90caf9; 
  padding: 10px 0;
  width: 100%;
  height: 50px; /* Ajustar la altura del header */
  position: relative;
  top: 0; 
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1000; /* Asegurar que el header esté siempre en la parte superior */
}

.header-icon {
  color: #ffffff; 
  margin-right: 0; 
}

.header-title {
  font-size: 24px;
  color: #343a40; 
  margin: 10px;
}

.menu-button {
  background-color: #90caf9; 
  color: #ffffff; 
  border: none; 
  padding: 10px; 
  cursor: pointer; 
}

.menu-button:hover {
  background-color: #64b5f6; 
}

mat-menu {
  background-color: #e1bee7 !important; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; 
  border-radius: 5px !important; 
  width: 500px !important; 
  overflow-x: hidden !important; 
}

.custom-menu-item {
  display: flex !important;
  align-items: center !important;
  padding: 10px 20px !important; 
  color: #262626 !important; 
  font-size: 16px !important; 
  background-color: #fbfbfb !important;
  white-space: nowrap !important; 
}

.custom-menu-item:hover {
  background-color: #d1c4e9 !important; 
}

.custom-menu-icon {
  margin-right: 10px !important; 
  color: #242424 !important; 
}

.custom-menu-text {
  font-size: 16px !important; 
  color: #030303 !important; 
}

.footer {
  background-color: #f8f9fa; 
  padding: 10px 0; 
  text-align: center; 
  border-top: 1px solid #e0e0e0; 
  margin-top: 1rem;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.footer-content {
  max-width: 900px; 
  margin: 0 auto; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.footer-links {
  display: flex; 
  gap: 1rem;
  margin-top: 0.5rem; 
  flex-wrap: wrap; 
}

.footer-links a {
  color: #007bff; 
  text-decoration: none; 
}

.footer-links a:hover {
  text-decoration: underline; 
}