<div class="header">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
    <mat-icon class="header-icon">menu</mat-icon>
  </button>
  <img class="header-title" src="assets/3.png" alt="Recruiting Home">
    <mat-menu #menu="matMenu">
    <button mat-menu-item class="custom-menu-item">
      <mat-icon class="custom-menu-icon">home</mat-icon>
      <span class="custom-menu-text">Inicio</span>
    </button>
    <button mat-menu-item class="custom-menu-item">
      <mat-icon class="custom-menu-icon">person</mat-icon>
      <span class="custom-menu-text">Perfil</span>
    </button>
    <button mat-menu-item class="custom-menu-item">
      <mat-icon class="custom-menu-icon">exit_to_app</mat-icon>
      <span class="custom-menu-text">Cerrar sesión</span>
    </button>
  </mat-menu>
</div>

<form [formGroup]="candidatoForm" (ngSubmit)="onSubmit()" class="form-container">
  <h2>Añadir candidato</h2>

  <div class="form-group">
    <mat-form-field appearance="fill">
      <mat-label>Candidato</mat-label>
      <input 
        type="text" 
        matInput 
        formControlName="candidato"
        [matAutocomplete]="autoCandidato">
      <mat-autocomplete #autoCandidato="matAutocomplete">
        <mat-option *ngFor="let option of filtroCandidatos | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>ID Recruiting</mat-label>
      <input 
        type="number" 
        matInput 
        formControlName="idPeticion"
        [matAutocomplete]="autoPeticion">
      <mat-autocomplete #autoPeticion="matAutocomplete">
        <mat-option *ngFor="let option of filtroRecruitings | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono" maxlength="9" pattern="[0-9]{9}" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Proyecto</mat-label>
      <input matInput formControlName="proyecto" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cliente</mat-label>
      <input matInput formControlName="cliente" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ubicacion</mat-label>
      <input 
        type="text" 
        matInput 
        formControlName="ubicacion"
        [matAutocomplete]="autoUbiciacion">
      <mat-autocomplete #autoUbiciacion="matAutocomplete">
        <mat-option *ngFor="let option of filtroProvincias | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Perfil</mat-label>
      <input 
        type="text" 
        matInput 
        formControlName="perfil"
        [matAutocomplete]="autoPerfil">
      <mat-autocomplete #autoPerfil="matAutocomplete">
        <mat-option *ngFor="let option of filtroPerfiles | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Tecnoligias</mat-label>
      <input matInput formControlName="tecnologia" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado">
        <mat-option *ngFor="let estado of estadoLista" [value]="estado">
          {{ estado }}
        </mat-option>
      </mat-select>
    </mat-form-field>


<mat-form-field appearance="fill">
  <mat-label>Fecha Creación</mat-label>
  <input 
    matInput 
    [matDatepicker]="picker" 
    formControlName="fechaActualizacion" 
    placeholder="dd/mm/aaaa" />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>


<div class="experience-salary-group">
  <mat-form-field appearance="fill">
    <mat-label>Años de experiencia</mat-label>
    <input matInput formControlName="experiencia" type="number" />
    <mat-error *ngIf="candidatoForm.get('experiencia')?.hasError('min')">
      No se permiten valores negativos.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Salario</mat-label>
    <input matInput formControlName="salario" type="number" />
    <mat-error *ngIf="candidatoForm.get('salario')?.hasError('min')">
      No se permiten valores negativos.
    </mat-error>
  </mat-form-field>
</div>


    <!-- Resumen ocupa todo el ancho -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Observaciones</mat-label>
      <textarea matInput formControlName="resumen"></textarea>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit">Enviar</button>
</form>

<div class="table-container">
  <table mat-table [dataSource]="ofertaLista" matSort class="mat-elevation-z8">
    <!-- Candidato Column -->
    <ng-container matColumnDef="candidato">
      <th mat-header-cell *matHeaderCellDef>Candidato</th>
      <td mat-cell *matCellDef="let oferta">{{ oferta.candidato.nombreCandidato }}</td>
    </ng-container>

    <!-- Telefono Column -->
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef>Teléfono</th>
      <td mat-cell *matCellDef="let oferta">{{ oferta.telefono.numeroTelefono }}</td>
    </ng-container>

    <!-- Codope Column -->
    <ng-container matColumnDef="codope">
      <th mat-header-cell *matHeaderCellDef>Codope</th>
      <td mat-cell *matCellDef="let oferta">{{ oferta.usuario.codope }}</td>
    </ng-container>

    <!-- ID Petición Column -->
    <ng-container matColumnDef="idPeticion">
      <th mat-header-cell *matHeaderCellDef>ID Petición</th>
      <td mat-cell *matCellDef="let oferta">{{ oferta.recruiting.idRecruiting }}</td>
    </ng-container>

    <!-- Proyecto Column -->
    <ng-container matColumnDef="proyecto">
      <th mat-header-cell *matHeaderCellDef>Proyecto</th>
      <td mat-cell *matCellDef="let oferta">{{ oferta.recruiting.nombreProyecto }}</td>
    </ng-container>

    <!-- Cliente Column -->
    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef>Cliente</th>
      <td mat-cell *matCellDef="let oferta">{{ oferta.recruiting.empresa.nombreEmpresa }}</td>
    </ng-container>

    <!-- Ubicación Column -->
    <ng-container matColumnDef="ubicacion">
      <th mat-header-cell *matHeaderCellDef>Ubicación</th>
      <td mat-cell *matCellDef="let oferta">{{ oferta.ubicacion.nombreProvincia }}</td>
    </ng-container>

    <!-- Perfil Column -->
    <ng-container matColumnDef="perfil">
      <th mat-header-cell *matHeaderCellDef>Perfil</th>
      <td mat-cell *matCellDef="let oferta">{{ oferta.puesto.nombrePuesto }}</td>
    </ng-container>

    <!-- Tecnología Column -->
    <ng-container matColumnDef="tecnologia">
      <th mat-header-cell *matHeaderCellDef>Tecnología</th>
      <td mat-cell *matCellDef="let oferta">{{ oferta.tecnologias }}</td>
    </ng-container>

    <!-- Estado Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let oferta">{{ oferta.estado.estado }}</td>
    </ng-container>

    <!-- Fecha Actualización Column -->
    <ng-container matColumnDef="fechaActualizacion">
      <th mat-header-cell *matHeaderCellDef>Fecha Actualización</th>
      <td mat-cell *matCellDef="let oferta">{{ oferta.fechaActualizacion | date: 'dd/MM/yyyy' }}</td>
    </ng-container>

    <!-- Resumen Column -->
    <ng-container matColumnDef="resumen">
      <th mat-header-cell *matHeaderCellDef>Observaciones</th>
      <td mat-cell *matCellDef="let oferta">
        <button mat-raised-button color="primary" (click)="openPopup(oferta)" class="resumen-button" style="color: whitesmoke;">Ver</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2024 Soltel Group. Todos los derechos reservados.</p>
    <div class="footer-links">
      <a href="#">Política de Privacidad</a>
      <a href="#">Términos de Servicio</a>
      <a href="#">Contacto</a>
    </div>
  </div>
</footer>