body {
  overflow-x: hidden;
}

.botones-funcionalidades {
  position: absolute; /* Posiciona el botón de forma absoluta */
  top: 10px; /* Distancia desde la parte superior del contenedor */
  left: 0; /* Alinear a la izquierda del contenedor */
  margin-bottom: 10px; /* Espacio inferior para separación con la tabla */
  padding: 6px 12px; /* Ajusta el espacio dentro del botón */
  font-size: 14px; /* Tamaño de la fuente más pequeño */
}
form {
  max-width: 900px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #ffffff;
  font-family: 'Arial', sans-serif;
  box-shadow: 10px 10px 20px #c4c4c4, -10px -10px 20px #ffffff;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem; 
  color: #424141; 
  font-weight: bold; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 10px; 
  border-bottom: 2px solid #e0e0e0; 
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; 
}

.form-group mat-form-field {
  flex: 1 1 calc(25% - 16px);
}

.full-width {
  flex: 1 1 75%; 
}

.half-width {
  flex: 1 1 calc(25% - 16px); 
}

.wide-full {
  flex: 1 1 100%; 
}

.experience-salary-group {
  display: flex;
  gap: 16px;
  flex: 1 1 25%; 
}

button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.01);
}

.table-container {
  width: 90%; 
  margin: 0 auto; 
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 10px 10px 20px #c4c4c4, -10px -10px 20px #ffffff;
  overflow: hidden; 
  display: flex;
}

table {
  width: 100%; 
  table-layout: fixed; 
}

th.mat-header-cell, 
td.mat-cell {
  padding: 4px; 
  text-align: center; 
}

th.mat-header-cell:nth-child(9),
td.mat-cell:nth-child(9), 
th.mat-header-cell:nth-child(10),
td.mat-cell:nth-child(10) { 
  width: 60px; 
}

td.mat-cell {
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis; 
}

@media (max-width: 768px) {
  th.mat-header-cell, 
  td.mat-cell {
    padding: 2px; 
  }

  th.mat-header-cell:nth-child(9),
  td.mat-cell:nth-child(9),
  th.mat-header-cell:nth-child(10),
  td.mat-cell:nth-child(10) {
    width: 50px; 
  }
}

.header {
  display: flex;
  align-items: center;
  background-color: #90caf9; 
  padding: 10px 20px;
  width: 100%;
  height: 30px; 
 
  overflow-x: hidden; 
}

.header-icon {
  color: #ffffff; 
  margin-right: 0; 
}

.header-title {
  font-size: 24px;
  color: #343a40; 
  margin: 10px;
}

.menu-button {
  background-color: #90caf9; 
  color: #ffffff; 
  border: none; 
  padding: 10px; 
  cursor: pointer; 
}

.menu-button:hover {
  background-color: #64b5f6; 
}

mat-menu {
  background-color: #e1bee7 !important; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; 
  border-radius: 5px !important; 
  width: 500px !important; 
  overflow-x: hidden !important; 
}

.custom-menu-item {
  display: flex !important;
  align-items: center !important;
  padding: 10px 20px !important; 
  color: #262626 !important; 
  font-size: 16px !important; 
  background-color: #fbfbfb !important;
  white-space: nowrap !important; 
}

.custom-menu-item:hover {
  background-color: #d1c4e9 !important; 
}

.custom-menu-icon {
  margin-right: 10px !important; 
  color: #242424 !important; 
}

.custom-menu-text {
  font-size: 16px !important; 
  color: #030303 !important; 
}

.footer {
  background-color: #f8f9fa; 
  padding: 1rem 0; 
  text-align: center; 
  border-top: 1px solid #e0e0e0; 
  margin-top: 2rem;
  width: 100%;
  box-sizing: border-box;
}

.footer-content {
  max-width: 900px; 
  margin: 0 auto; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.footer-links {
  display: flex; 
  gap: 1rem;
  margin-top: 0.5rem; 
  flex-wrap: wrap; /* Añade esta línea */
}


.footer-links a {
  color: #007bff; 
  text-decoration: none; 
}

.footer-links a:hover {
  text-decoration: underline; 
}